@{
  Layout = "_Layout";
}

@model AMC.Models.Actor

<h2>Add a movie</h2>

<h4>Add a movie to this actor: @Html.DisplayFor(model => model.ActorName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ActorId)

    @Html.Label("Select movie")
    @Html.DropDownList("MovieId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to AMC", "Index")</p>