@{
  Layout = "_Layout";
}

@model AMC.Models.Actor

<h2>Actor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.ActorName): @Html.DisplayFor(model => model.ActorName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This actor wasn't in any movies</p>
}
else
{
  <h4>Movies the actor belongs to:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Movie.MovieName</li>
    @using (Html.BeginForm("DeleteMovie", "Actors"))
    {
      @Html.Hidden("joinId", @join.MovieActorId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to AMC", "Index")</p>
<p>@Html.ActionLink("Edit Actor", "Edit", new { id = Model.ActorId })</p>
<p>@Html.ActionLink("Terminate Actor", "Delete", new { id = Model.ActorId })</p>
<p>@Html.ActionLink("Add a Movie", "AddMovie", new { id = Model.ActorId })</p>